<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/carozum-math-style.css">
    <title>Carozum Math</title>
</head>

<body>
    <h1>Resolution of math problems</h1>
    <h2>Calculation {{ 3*6 }}</h2>
    <h3>Random number is {{ num }}</h3>
    <footer>
        <p>&copy; {{ current_year}} - Built by Carozum</p>
    </footer>
</body>

</html>