<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Name</title>
</head>

<body>
    <h1>Using an API to predict the gender and the age of a person given their name</h1>
    <i>Please enter your name in the URL</i>
    <h2>Hey {{ name }}</h2>
    <p>I think you are a <b>{{ gender }}</b>. May be you are <b>{{ age }} old.</b> And you are about <b>{{ count }} {{
            name
            }}</b> in the world.</p>

    <footer style="background: aquablue;">
        <p>Links towards the APIs : <a href="https://genderize.io/">genderize.io</a> and <a
                href="https://agify.io/">agify.io</a></p>
    </footer>



</body>

</html>